<%- include('layouts/header'); -%>
<link rel="stylesheet" type="text/css" href="../css/about-us.css">
</head>
<body>
  <%- include('layouts/nav'); -%>
   
    
    <div class="content-container">
        <div class="about-main-container">

            
            
            <h1>About Flavor Fusion</h1>
            <div class="about-image">
                <img src="../images/background-image-main.jpg" alt="">
            </div>
            <div class="about-us-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo iusto iste officia voluptatibus dicta placeat cum ipsam molestiae culpa repellendus quisquam quidem quos laudantium molestias, perspiciatis rerum ad at repudiandae, debitis officiis numquam a consequuntur eaque? Perspiciatis earum neque ex?</p>
            </div>
            
        </div>
    </div>

<%- include('layouts/footer'); -%>