<%- include('layouts/header'); -%>
<link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
  <%- include('layouts/nav'); -%>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
   

    <div class="content-container">
        <div class="login-form-outer-container">

            <form action="" class="user-form forgot-password-form-container">
                <h2 class="content-title">FORGOT PASSWORD</h2>
            <div class="user-login-details">
                <p>Enter email address to get a link</p>
                <input type="email" id="email" placeholder="Email">
                <a href=""><button class="btn" id="login-button" type="submit">Send Link</button></a>
            </div>
            
            <div>
                <p>Don't have account ?</p>
                <a class="user-auth-link" href="register.html">Sign Up</a>
            </div>
        </form>
    </div>
    </div>


<%- include('layouts/footer'); -%>