<%- include('layouts/header'); -%>
<link rel="stylesheet" href="../css/home.css">

</head>
<body>
  <%- include('layouts/nav'); -%>
  

<div class="content-container">
   <div class="index-search-bar-container">

       <form action="" class="indexSearchForm">
           
           <label for="indexSearch"></label>
           <input type="text" name="indexSearch" id="indexSearch" placeholder="search for recipes">
           <button type="submit">search</button>
        </form>
    </div>

    <div class="top-recipies-container">
        <h2>Top Recipes</h2>
        <div class="top-recipies-inner-container">
            <div class="recipe-container">
                <img src="../images/background-image-main.jpg" alt="">
                
                <h4 class="recipe-title">Recipe Name</h4>
                <a class="btn btn-recipe" href="">view-recipe</a>
                
            </div>
            <div class="recipe-container">
                <img src="../images/background-image-main.jpg" alt="">
                
                <h4 class="recipe-title">Recipe Name</h4>
                <a class="btn btn-recipe" href="">view-recipe</a>
                
            </div>
            <div class="recipe-container">
                <img src="../images/background-image-main.jpg" alt="">
                
                <h4 class="recipe-title">Recipe Name</h4>
                <a class="btn btn-recipe" href="">view-recipe</a>
                
            </div>
            <div class="recipe-container">
                <img src="../images/background-image-main.jpg" alt="">
                
                <h4 class="recipe-title">Recipe Name</h4>
                <a class="btn btn-recipe" href="">view-recipe</a>
                
            </div>
            <div class="recipe-container">
                <img src="../images/background-image-main.jpg" alt="">
                
                <h4 class="recipe-title">Recipe Name</h4>
                <a class="btn btn-recipe" href="">view-recipe</a>
                
            </div>
            
            
        </div>
    </div>
    <div class="index-about-us-container">
        <h2>About us</h2>
        <div class="index-abouts-us-inner-container">
            <div class="index-about-us-details">
                <h3>how we started</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni excepturi iste ab, aspernatur alias, et hic omnis non maiores fugiat corporis quod, ad velit distinctio possimus tempore esse! Laudantium, error!</p>
                <a href=""><button class="btn">Continue..</button></a>
            </div>
            <div class="index-about-us-image">
                <img src="../images/background-image-main.jpg" alt="">
            </div>
        </div>
    </div>
</div>


</body>
<%- include('layouts/footer'); -%>