<!DOCTYPE html>
<%- include('layouts/header'); -%>
<link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
  <%- include('layouts/nav'); -%>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
   

    <div class="content-container">
        <div class="login-form-outer-container">

            <form action="" class="user-form login-form-container">
                <h2 class="content-title">LOGIN</h2>
            <div class="user-login-details">
                <input type="text" name="username" id="username" placeholder="Username">
                
                <input type="password" name="password" id="password" placeholder="Password">
                
                <a href=""><button class="btn" id="login-button" type="submit">login</button></a>
            </div>
            <div>
                <a class="user-auth-link" href="forgot-password.html">forgot password ?</a>
            </div>
            <div>
                <p>Don't have account ?</p>
                <a class="user-auth-link" href="register.html">Sign Up</a>
            </div>
        </form>
    </div>
    </div>
</body>
<%- include('layouts/footer'); -%>