.about-main-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2rem 0rem;
    position: relative;
}
.about-main-container h1{
    position: absolute;
    color: white;
    font-size: 3rem;
    z-index: 100;
    left: 34%;
    top: 40%;
    /* background-color: red; */
}
.about-image{
    margin-top: 2rem;
    width: 100%;
    height: 30rem;
    position: relative;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.about-us-content{
    margin-top: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.contact-form-container{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafaff;
    border: 1px solid rgba(0,0,0,.2);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 25px;
    padding: 3rem;
    margin-bottom: 3rem;
}

.contact-details{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    /* font-size: 1.2rem; */
}

.contact-details input, textarea{
    /* background-color: transparent; */
    font-size: 1.2rem;
    margin: 1rem 0rem;
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .about-main-container h1{
        font-size: 3rem;
        left: 20%;
    }
    
}
@media screen and (max-width: 768px) {
    .about-main-container h1{
        font-size: 2rem;
        left: 10%;
    }

    .contact-form-container{
        width: 90%;
        border-radius: 10px;
        padding: 2rem;
    }
}
