
.recipe-page{
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fb;
    padding: 2rem;
}
.recipe-hero {
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding: 2rem;
    /* padding-bottom: 1rem; */
    gap: 1rem;
    /* background-color: #d7e1ea; */
    border-radius: 20px;
    /* background-color: red; */
}

.recipe-hero-img {
    width: 560px;
    height: 500px;
    padding-right: .5rem;
    border-radius: 20px;
}

.recipe-src-name{
    
    color: #458cde;
}
.recipe-info{
    /* background-color: #d7e1ea; */
    /* padding: 2rem; */
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 20px;
}
.recipe-info h2{
    font-size: 2rem;
}
/* .recipe-info p {
    padding: 1rem 0rem;
    color: var(--grey-600);
} */

.recipe-icons {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    gap: 1rem;
    margin: 2rem 0;
    text-align: center;
    border-radius: 20px;
    
}
.recipe-icons i {
    font-size: 1.5rem;
    color: var(--primary-500);
}
.recipe-details-1{
    /* grid-column: span 3; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: blue; */


}
.recipe-details-1 p{
    font-size: 1rem !important;
    margin-left: 1rem;
}
.recipe-details-1 div{
    display: flex;
    margin-bottom: .5rem;
}
.recipe-icons-cont{
    margin-top: 2rem;

    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recipe-icons-cont div{
    display: flex;
    height: 100%;
    /* background-color: green; */
    flex-direction: column;
    justify-content: space-between;
}

.recipe-details-2{
    margin-bottom: 2rem;
    
}

.recipe-details-1 h4{
    font-size: 1.1rem;
    font-weight: 600;
}
.recipe-details-2{
    padding-top: 1rem;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #cee8ee;
    border-radius: 20px;
}

.recipe-details-2 h5{
    font-size: 1rem;
}
.instructions-container{
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 20px;
    background-color: #dceef3;
    height: max-content;
}

.instructions-container a{
    display: block;
    text-align: center;
}
.ingredients-container{
    
    padding: 1rem;
    border-radius: 20px;
    background-color: #dceef3;
}

.recipe-details-2-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.recipe-details-2-content div{
    display: flex;
    justify-content: space-between;
    margin: .5rem 2rem;
    align-items: center;
}

.recipe-details-2-content span{
    font-size: 1rem;
    /* margin-left: 2rem; */
}
#saveRecipe, #shareRecipe{
    cursor: pointer;
    background-color: transparent;
    border:none;
}
.recipe-icons h5,
.recipe-icons p {
    margin-bottom: 0;
    font-size: 0.85em;
}

#copyStatus {
    color: #000; /* Initial color */
    transition: color 0.3s;
}

#copyStatus.copied {
    color: #559455; /* Color when link is copied */
}


@media screen and (max-width: 992px) {
    
    .recipe-details-2-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .recipe-hero-img {
        width:390px;
        /* height: 400px; */
        padding: none;
    }
}
@media screen and (max-width: 1100px) {
    
    
    .recipe-hero-img {
        width: 460px;
        /* height: 400px; */
        padding: none;
    }
}

.recipe-content {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.recipe-content h4{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.single-instruction{
    border: 2px solid rgba(0,0,0,.1);
    border-radius: var(--border-radius-primary);
    box-shadow: var(--box-shadow-extra-light);
    margin: .5rem 0rem;
    padding: 1rem;
}

.single-instruction .steps{
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
    margin-bottom: .5rem;
}


@media screen and (max-width: 992px) {
    
    .recipe-content {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px) {
    
    .recipe-hero {
        display: flex;
        flex-direction: column;
    }
    .recipe-details-2-content{
        grid-template-columns: 1fr;
    }

}


.single-instruction header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
}
.single-instruction header p {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-500);
    margin-bottom: 0;
}
.single-instruction > p {
    color: var(--grey-700);
}

.single-instruction header div {
    height: 2px;
    background: var(--grey-300);
}

.second-column {
    display: grid;
    row-gap: 2rem;
}

.single-ingredient {
    border-bottom: 2px solid var(--grey-300);
    padding-bottom: 0.75rem;
    color: var(--grey-700);
}
.single-tool {
    border-bottom: 2px solid var(--grey-300);
    padding-bottom: 0.75rem;
    color: var(--primary-500);
    text-transform: capitalize;
}