
.recipe-page{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}
.recipe-hero {
    display: grid;
    gap: 2rem;
    /* background-color: red; */
}

.recipe-hero-img {
    height: 400px;
    border-radius: var(border-radius-primary);
}


.recipe-info h2{
    font-size: 2rem;
}
.recipe-info p {
    padding: 1rem 0rem;
    color: var(--grey-600);
}

.recipe-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem 0;
    text-align: center;
}
.recipe-icons i {
font-size: 1.5rem;
    color: var(--primary-500);
}
#saveRecipe, #shareRecipe{
    cursor: pointer;
    background-color: transparent;
    border:none;
}
.recipe-icons h5,
.recipe-icons p {
    margin-bottom: 0;
    font-size: 0.85em;
}

#copyStatus {
    color: #000; /* Initial color */
    transition: color 0.3s;
}

#copyStatus.copied {
    color: #00ff00; /* Color when link is copied */
}

.recipe-icons p {
    color: var(--grey-600);
}
/* .recipe-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.7em;
    font-weight: 600;
}
.recipe-tags a {
    background: var(--primary-500);
    border-radius: var(--border-radius-primary);
    padding: 0.05rem 0.5rem;
    margin: 0 0.25rem;
    text-transform: capitalize;
} */
@media screen and (min-width: 992px) {
.recipe-hero {
    grid-template-columns: 4fr 5fr;
    align-items: center;
}
}
.recipe-content {
    padding: 3rem 0;
    display: grid;
    gap: 2rem 5rem;
}

.recipe-content h4{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.single-instruction{
    border: 2px solid rgba(0,0,0,.1);
    border-radius: var(--border-radius-primary);
    box-shadow: var(--box-shadow-extra-light);
    margin: .5rem 0rem;
    padding: 1rem;
}

.single-instruction .steps{
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
    margin-bottom: .5rem;
}
@media screen and (min-width: 992px) {
.recipe-content {
    grid-template-columns: 2fr 1fr;
}
}
.single-instruction header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
}
.single-instruction header p {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-500);
    margin-bottom: 0;
}
.single-instruction > p {
    color: var(--grey-700);
}

.single-instruction header div {
    height: 2px;
    background: var(--grey-300);
}

.second-column {
    display: grid;
    row-gap: 2rem;
}

.single-ingredient {
    border-bottom: 2px solid var(--grey-300);
    padding-bottom: 0.75rem;
    color: var(--grey-700);
}
.single-tool {
    border-bottom: 2px solid var(--grey-300);
    padding-bottom: 0.75rem;
    color: var(--primary-500);
    text-transform: capitalize;
}