<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/recipe.css">
    <link rel="stylesheet" href="../css/recipies.css">
    <link rel="stylesheet" href="../css/add-recipe.css">
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="../css/about-us.css">
</head>

<body>
    
    <div class="hero-main-container">
        <header class="hero-inner-container">
            <div class="logo-container">
                
                <a href="/index"><img src="../images/flavor-fusion-high-resolution-logo-black-transparent.png"alt=""></a>
            </div>
            <div class="navbar-outer-container">

                <nav class="navbar-main-container" id="navbar">
                    <ul class="nav-bar-inner-container">
                        <li class="nav-item"><a href="/index">Home</a></li>
                        <li class="nav-item"><a href="/recipies">Search</a></li>
                        <li class="nav-item"><a href="/about-us">About US</a></li>
                        <li class="nav-item"><a href="/contact">Contact</a></li>
                        <li class="nav-item"><a href="/add-recipe">Add Recipe</a></li>
                        <li class="nav-item"><a href="/user">Recipes</a></li>
                        
                        
                    </ul>
                </nav>
                <div class="user-check-container">
                    <ul class="nav-bar-inner-container">
                        
                        <li class="nav-item"><a href="/login">Login</a></li>
                        <li class="nav-item"><a href="/register">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="burger-menu" id="burgerMenu">
        <i class="fas fa-bars"></i>
    </div>
    <div class="error-main-container">

        <%- include('../layouts/error'); -%>
    </div>
    <!-- responsive navigation bar -->
    <div class="navbar-responsive" id="navbarResponsive">
        <ul class="nav-bar-inner-container">
            <li class="nav-item"><a href="/index">Home</a></li>
            <li class="nav-item"><a href="/recipies">Recipes</a></li>
            <li class="nav-item"><a href="/about-us">About US</a></li>
            <li class="nav-item"><a href="/contact">Contact</a></li>
            <li class="nav-item"><a href="/add-recipe">Add Recipe</a></li>
            <li class="nav-item"><a href="/login">Login</a></li>
            <li class="nav-item"><a href="/register">Sign Up</a></li>
        </ul>
        <div class="close-btn" id="closeBtn">×</div>
    </div>

    <div class="content-container">
       <div class="index-search-bar-container">

           <!-- <form action="" class="indexSearchForm">

               <label for="indexSearch"></label>
               <input type="text" name="indexSearch" id="indexSearch" placeholder="search for recipes">
               <button type="submit">search</button>
            </form> -->
        </div>

        <div class="top-recipies-container">
            <h2>Top Recipes</h2>
            <div class="top-recipies-inner-container">
                
                <div class="recipe-container">
                    <div class="recipe-image-container">

                        <img src="../images/biriyana.jpeg" alt="">
                        <i class="fa-regular fa-bookmark save-recipe-icon" onclick="saveRecipe(this)"></i>
                    </div>
                    
                    <h4 class="recipe-title">Biryani</h4>
                    <a class="btn btn-recipe" href="/recipe-page">view</a>
                    
                </div>
                <div class="recipe-container">
                    <div class="recipe-image-container">

                        <img src="../images/vanilla-truffle.jpeg" alt="">
                        <i class="fa-regular fa-bookmark save-recipe-icon" onclick="saveRecipe(this)"></i>
                    </div>
                    
                    <h4 class="recipe-title">Vanilla truffle</h4>
                    <a class="btn btn-recipe" href="/recipe-page">view</a>
                    
                </div>
                <div class="recipe-container">
                    <div class="recipe-image-container">

                        <img src="../images/Honey-Chicken.jpeg" alt="">
                        <i class="fa-regular fa-bookmark save-recipe-icon" onclick="saveRecipe(this)"></i>
                    </div>
                    
                    <h4 class="recipe-title">Honey Chicken</h4>
                    <a class="btn btn-recipe" href="/recipe-page">view</a>
                    
                </div>
                <div class="recipe-container">
                    <div class="recipe-image-container">

                        <img src="../images/Garlic-Chicken.jpeg" alt="">
                        <i class="fa-regular fa-bookmark save-recipe-icon" onclick="saveRecipe(this)"></i>
                    </div>
                    
                    <h4 class="recipe-title">Garlic chicken</h4>
                    <a class="btn btn-recipe" href="/recipe-page">view</a>
                    
                </div>
                <div class="recipe-container">
                    <div class="recipe-image-container">

                        <img src="../images/chicken-pizza.jpeg" alt="">
                        <i class="fa-regular fa-bookmark save-recipe-icon" onclick="saveRecipe(this)"></i>
                    </div>
                    
                    <h4 class="recipe-title">Chicken pizza</h4>
                    <a class="btn btn-recipe" href="/recipe-page">view</a>
                    
                </div>
                
                
                
            </div>
        </div>
        <div class="index-about-us-container">
            <h2>About us</h2>
            <div class="index-abouts-us-inner-container">
                <div class="index-about-us-details">
                    <h3>how we started</h3>
                    <p>Flavor fusion is the result of passion for food and a love for simplifying the cooking experience. The journey began with a shared vision among our team members to create a tool that not only organizes recipes but also inspires culinary creativity.</p>
                    <a href="/about-us"><button class="btn">Continue..</button></a>
                </div>
                <div class="index-about-us-image">
                    <img src="../images/background-image-main.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer-main-container">
        <div>
            <div class="footer-social-icons-container">
                <h3>follow us on social media</h3>
                
                <div>

                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    
                    <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                </div>
                
                
            </div>
            <div class="footer-other-details">
                <h3>Contact Us</h3>
                <p>contact us to  become an integral member of our passionate cooking network,Your participation is not only welcome but essential in building a rich tapestry of shared knowledge and culinary experiences on the internet. email: FlavourFusion401@gmail.com phone:905-123-4567</p>
            </div>
        </div>
        <p>Flavor Fusion , All Rights Reserved</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="../js/script.js"></script>
</body>
</html>